@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {    
  height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-weight: 700;  
  color: #000000;  
  text-transform: uppercase;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;  
  margin: 0 auto;

  box-shadow: 0 0 25px -12px;
}

.page-header {
  color: #000000;

  background-color: #ffffff;
}

.navigation {
  display: flex;  
  padding-right: 66px;  
  padding-left: 63px; 
}

.navigation-list {
  display: flex;
  flex-wrap: wrap; 
  align-content: center;  
  width: 450px;  
  margin: 0;
  padding: 0;

  list-style-type: none;  
}

.navigation-user-list { 
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-end;
  align-content: center;
  width: 450px;  
  margin: 0;
  margin-left: auto;
  padding: 0;  

  list-style-type: none;
}

.navigation-item {
  margin-right: 17px;
}

.navigation-item-current {
  position: relative;
}

.navigation-item-current::before {
  position: absolute;  
  content: "";
  right: 6px;
  top: 47px;
  left: 9px;

  height: 2px;

  background-color: #756257;
}
  
.navigation-user-item {
  position: relative;

  margin-right: 6px;
  margin-bottom: 1px;
}

.navigation-link {
  display: block;
  padding: 1px 8px 4px 8px;

  font-size: 20px;
  font-weight: 700;  
  line-height: 26px;
  text-align: center;  
  color: #000000;  
  text-decoration: none;  
}

.navigation-link:hover:not(.navigation-link-current) {
  color: #756257;
}

.navigation-link:focus {
  color: #756257;

  border-radius: 10px;
  outline: 3px solid #83b3d3;
}

.navigation-link:active:not(.navigation-link-current) {
  color: #7562574d;  

  outline: none;
}

.navigation-user-link {
  display: block;

  font-size: 20px;
  font-weight: 700;    
  color: #000000;  
  text-decoration: none;  
}

.navigation-user-link-search {
  min-height: 18px;
  min-width: 18px;
  padding: 9px 7px 2px 7px;
}

.navigation-user-link-search:hover path {
  fill: #756257;
}

.navigation-user-link-search:focus path {
  fill: #756257;
}

.navigation-user-link-search:focus {
  border-radius: 8px;
  outline: 3px solid #83b3d3;
}

.navigation-user-link-search:active path {
  fill: #7562574d;  
}

.navigation-user-link-search:active {
  outline: none;
}

.navigation-user-link-favorite {
  position: relative;

  min-width: 18px;
  min-height: 17px;  
  padding: 8px 8px 1px 8px;
}

.navigation-user-link-favorite:hover path {
  fill: #756257;
}

.navigation-user-link-favorite:focus {
  border-radius: 8px;
  outline: 3px solid #83b3d3;
}

.navigation-user-link-favorite:focus path{
  fill: #756257;
}

.navigation-user-link-favorite:active {
  outline: none;
}

.navigation-user-link-favorite:active path{
  fill: #7562574d;
}

.favorite-count {  
  position: absolute;
  right: -5px;
  top: 0px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 19px;
  min-height: 19px;

  font-size: 10px;
  font-weight: 400;
  line-height: 13px;  
  color: #ffffff;
  text-align: center;

  background-color: #7db550;  
  border-radius: 50% 50%;     
}

.navigation-user-link-favorite:active .favorite-count{
  color: #ffffff4d;
}

.navigation-user-item:nth-child(3) {
  margin-left: 19px;
}

.popover-favorite {
  position: absolute;
  top: 48px;  
  right: -185px;
  z-index: 1;

  display: none;
  width: 400px;
  min-height: 135px;    
}

.popover-favorite-open {
  display: block;
}

.popover-favorite-content {
  position: relative;
  z-index: -1;

  padding: 25px 17px 26px 25px;

  background-color: #ffffff;
  outline: 1px solid #e5e5e5;
  outline-offset: -1px;
  border-radius: 20px 20px 0 0;  
}

.popover-favorite-content::before {
  position: absolute;
  top: -20px;
  left: 190px;

  width: 20px;
  height: 9px;
  content: url("../img/popover/popover-arrow.svg");  
}

.popover-favorite-list {
  padding-left: 0;

  list-style: none;  
}

.popover-favorite-item {
  display: flex;  
  margin-bottom: 25px;  
}

.popover-favorite-item:last-child {
  margin-bottom: 0;
}

.popover-favorite-link {
  display: grid;
  grid-template-columns: 48px auto;   
  column-gap: 17px;

  color: #000000;

  text-decoration: none;  
  cursor: pointer;
}

.popover-favorite-link:hover {
  opacity: 60%;
}

.popover-favorite-link:focus {
  outline: 3px solid #83b3d3;
  outline-offset: 7px;
  border-radius: 10px;  
}

.popover-favorite-link:active {
  opacity: 30%;
  outline: none;
}

.favorite-img {  
  grid-column: 1 / 2; 
}

.popover-favorite-link .div {
  grid-column: 2 / 3;  
}

.favorite-title {  
  margin: 0;
  margin-top: 2px;
  margin-bottom: 5px;

  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;  
}

.favorite-description {  
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  line-height: 14px;  
}

.popover-cart {  
  width: 31px;
  height: 31px;
  margin-left: auto;

  line-height: 10px;

  border: none;
  background-color: transparent;
  cursor: pointer;  
}

.popover-cart:hover svg {
  opacity: 100%;
}

.popover-cart:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
  border-radius: 10px;  
}

.popover-cart:focus svg {
  opacity: 100%;
}

.popover-cart:active {
  opacity: 10%;
  outline: none;
}

.popover-favorite-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  font: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;

  background-color: #756257;
  border: none;
  border-radius: 0 0 20px 20px;  
  cursor: pointer;    
}

.popover-favorite-button:hover {
  background-color: #615048;
}

.popover-favorite-button:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;   
}

.popover-favorite-button:active {
  color: #ffffff4d; 
  outline: none;
  background-color: #615048;   
}

.want-there {
  display: flex;
  justify-content: center;
  min-width: 94px;
  min-height: 21px;  
  padding: 8px 33px; 

  font-family: inherit;
  font-size: 16px;
  line-height: 21px; 
  color: #ffffff; 
  text-transform: uppercase;

  background-color: #756257;  
  border-radius: 4px;
}

.want-there:hover {
  background-color: #615048;
}

.want-there:focus {
  border: none;
  outline: 3px solid #83b3d3;
  border-radius: 4px;  
}

.want-there:active {
  background-color: #615048;
  color: #ffffff4d;
  outline: none;
}

.logo {
  z-index: 1;

  height: 65px;
  margin-left: 18px;  

  cursor: pointer;  
}

.main-container {
  flex-grow: 1;
}

.main-background {
  width: 1200px;
  min-height: 485px;

  background-color:#daa520;
  background-image: 
    url("../img/divider.svg"), 
    url("../img/main-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom, center;  
}

.general-view {
  display: block;
  margin: 0 auto;
  padding-top: 51px;  
}

.slogan {  
  width: 720px;
  margin-top: 62px;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;

  font-size: 30px;
  font-weight: 700;  
  line-height: 36px;
  text-align: center;
  text-transform: uppercase; 
}

.advantages {
  margin-bottom: 88px;
}

.advantages-title { 
  width: 720px;
  margin-bottom: 80px;  
  margin-left: auto;
  margin-right: auto;

  font-size: 22px;
  font-weight: normal;  
  line-height: 36px;
  text-align: center;   
}

.advantages-heading {
  margin-top: 0;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;  
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;   
  margin-bottom: 0;
  padding: 0;

  list-style-type: none;
}

.advantages-list p {  
  margin-bottom: 33px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;  
}

.advantages-white {
  width: 400px; 
  min-height: 384px;    
  padding: 97px 91px 54px 89px;
  box-sizing: border-box;

  color: #ffffff;

  background-color: #82b3d3;   
}

.city {
  display: flex;
  flex-wrap: wrap;  
}

.city-advantages {
  display: flex;
  padding-left: 0;

  list-style-type: none;  
}

.city-advantages-dwelling .advantages-heading, 
.city-advantages-food .advantages-heading, 
.city-advantages-souvenirs .advantages-heading {
  margin-top: 23px;
  margin-bottom: 20px;
}

.city-advantages-dwelling p, 
.city-advantages-food p, 
.city-advantages-souvenirs p {
  margin-top: 0;
  margin-bottom: 0;
}

.bridge {
  display: flex;
}

.advantages-bridge {
  padding: 97px 89px 54px 89px;
}

.city-advantages-dwelling {   
   padding: 90px 75px 79px 74px;
}

.dwelling-icon {
  min-width: 74px;
  min-height: 72px;  

  background-image: url("../img/dwelling.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.city-advantages-souvenirs {
  padding: 86px 75px 79px 75px;
}

.souvenirs-icon {
  min-width: 64px;
  min-height: 76px;  

  background-image: url("../img/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.size, 
.road, 
.tourists {  
  padding: 98px 75px 77px 76px;
}

.size .advantages-heading,
.road .advantages-heading,
.tourists .advantages-heading {
  margin-bottom: 30px;
}

.size p,
.road p,
.tourists p  {
  margin-bottom: 30px;
}

.tourists {
  padding: 98px 75px 77px 75px;
}

.city-advantages-dwelling, .city-advantages-souvenirs, .size, .tourists {
  width: 400px; 
  min-height: 384px;
  box-sizing: border-box; 

  text-align: center;

  background-color: #83b3d31f;   
}

.city-advantages-food {
  width: 400px; 
  min-height: 384px;
  padding: 92px 74px 79px 75px;
  box-sizing: border-box;

  text-align: center;

  background-color: #ffffff; 
}

.food-icon {
  min-width: 74px;
  min-height: 70px;  

  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.road {
  width: 400px; 
  min-height: 384px;
  padding: 98px 75px 77px 75px;
  box-sizing: border-box;

  text-align: center;

  background-color: #83b3d333;  
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-bottom: 90px;

  text-align: center;     
}

.interested {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;  
  text-transform: uppercase;  
}

.all-hotels {
  min-width: 575px;
  min-height: 60px;
  margin-top: 39px;
  padding: 12px 148px 12px 150px; 
  box-sizing: border-box;

  font-size: 20px;
  line-height: 36px;   
  color: #ffffff;

  background-color: #756257;  
  border-radius: 10px;  
}

.all-hotels:hover {
  background: #615048;
}

.all-hotels:focus {
  background: #615048;
  outline: 3px solid #83b3d3;
}

.all-hotels:active {
  color: #ffffff4d;

  background: #615048;  
  outline: none;
}

.inner-header-title {
  margin-top: 0;  
  margin-bottom: -3px;

  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 45px;
  padding: 0;

  font-size: 16px;
  line-height: 20px;  

  list-style-type: none;  
}

.breadcrumbs-item:nth-child(2) { 
  position: relative; 

  margin-left: 13px;  
}

.breadcrumbs-item:nth-child(2)::before {
  position: absolute;
  left: -8px;
  top: -1px;
  content: url("../img/catalog/index.svg");
  
  opacity: 30%;
}

.breadcrumbs-link-home {
  display: flex;  
  min-width: 21px;
  min-height: 20px;
  justify-content: center;  
  align-items: center;  
}

.breadcrumbs-link-home svg {
  margin-bottom: 2px;
}

.breadcrumbs-link-home:hover path {
  fill: #ffffff99;
}

.breadcrumbs-link-home:focus {
  outline: 3px solid #83b3d3;
  border-radius: 2px;
}

.breadcrumbs-link-home:active {
  outline: none;  
}

.breadcrumbs-link-home:active path {
  fill: #ffffff4d;
}

.breadcrumbs-link-current {
  padding: 0 6px 2px 6px;

  line-height: 21px;
  color:#ffffff;
  text-decoration: none;    
}

.breadcrumbs-link-current:hover {
  color: #ffffff99;
}

.breadcrumbs-link-current:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -2px;
  border-radius: 2px;  
}

.breadcrumbs-link-current:active {
  color: #ffffff4d;
}

.breadcrumbs-link-current:active {
  outline: none;  
}

.inner-filters {  
  padding: 33px 72px 61px 71px;

  color: #ffffff;

  background-color: #000000;
  background-image: url("../img/catalog/inner-filters.jpg");
  background-repeat: no-repeat;    
  background-size: cover;   
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.search-filter-group {
  margin-left: 0;

  border: none;  
}

.search-filter-group ul {
  padding-left: 0;

  list-style: none;  
}

.search-filter-title {
  padding: 0;  
  margin-bottom: 30px;

  font-size: 20px;
  font-weight: 700;
  line-height: 26px;  
}

.search-filter-group label {
  font-size: 18px;
  line-height: 23px;
}

.search-filter-facilities {
  padding: 0;  
  margin-right: 68px;
}

.facilities-list {
  margin-top: 0;
}

.facilities-list li {  
  margin-bottom: 13px;

  line-height: 20px;
}

.control {
  position: relative;  

  padding-left: 39px;

  cursor: pointer;  
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 2px;

  width: 20px;
  height: 20px;
  
  background-color: #ffffff;
  border-radius: 4px;  
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  left: 4px;
  top: -3px; 
  content: url("../img/catalog/checkbox-checked.svg");   
}

.control-input[type="checkbox"]:hover + .control-mark {
  background-color: #ffffff99;
}

.control-input[type="checkbox"]:focus + .control-mark {
  background-color: #ffffff99;
  outline: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:active + .control-mark {
  background-color: #ffffff4d;
  outline: none;
}

.search-filter-dwelling {
  min-width: 145px;    
  margin-right: 167px;

  padding: 0;
}

.dwelling-types-list {
  margin-top: 0;
}

.dwelling-types-list li {  
  margin-bottom: 13px;  

  line-height: 20px;
}

.control-mark-dwelling {
  position: absolute;
  top: 2px;
  left: 2px;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 50% 50%;  
}

.control-input[type="radio"]:checked + .control-mark-dwelling::before {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";

  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50% 50%;  
}

.control-input[type="radio"]:checked:focus + .control-mark-dwelling {  
  outline: 3px solid #83b3d3;
}

.search-filter-price {
  width: 287px;
  padding: 0;  
}

.search-filter-price .search-filter-title {
  margin-bottom: 35px;
}

.range-wrapper-inputs {  
  margin-bottom: 28px;
}

.range-scale {
  position: relative;

  height: 4px;  

  background-color: #ffffff4d;  
}

.range-bar {
  position: absolute;

  height: 4px;
  width: 227px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  background: #ffffff;    
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.range-wrapper-inputs div {
  position: relative;
}

.range-input {  
  position: relative;

  width: 143px;  
  padding-left: 15px;
  padding-top: 12px;  
  padding-bottom: 10px;
  box-sizing: border-box;

  font: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;  

  -moz-appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  border-color: #ffffff99;
}

.range-input:focus {
  z-index: 1;

  border-color: #ffffff;  
  outline: 3px solid #83b3d3;  
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.range-input:active {
  background-color: #756257;
  border-color: #ffffff;  
  outline: none;
  box-shadow: none;
}

.range-wrapper-inputs label {
  position: absolute;
  top: 13px;  
  right: 16px;

  color: #ffffff4d;
}

.submit-reset {
  display: flex;
  flex-direction: column;  
  margin-left: auto;
  padding-top: 61px;  
}

.search-filter-button {
  min-width: 160px;
  min-height: 48px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 21px;
  color: #ffffff;  

  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-filter-button:hover {
  background-color: #68a2ca;
}

.search-filter-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #ffffff;
}

.search-filter-button:active {
  color: #ffffff4d;

  background-color: #68a2ca;  
  outline: none;
}

.reset-button {
  min-width: 94px;
  min-height: 26px;
  padding-top: 0;
  padding-bottom: 3px;
  align-self: center;

  font-size: 18px;
  font-weight: 400;  
  line-height: 23px;
  text-transform: none;
  color: #ffffff;  

  background-color: transparent;
  border: none;  
  cursor: pointer;
}

.reset-button:hover {
  color:#ffffff99
}

.reset-button:focus {
  color:#ffffff;

  outline: 3px solid #83b3d3;
  border-radius: 2px;
}

.reset-button:active {
  color: #ffffff4d;

  outline: none;
}

.select-control {  
  width: 286px;  
  padding: 11px 48px 11px 16px;
  appearance: none;

  font: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;

  border: 2px solid #e5e5e5;
  background-image: url("../img/catalog/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  border-radius: 4px;  
  cursor: pointer;
}

.select-control:hover {
  border: 2px solid #83b3d3;
}

.select-control:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.select-control:active {
  border: 2px solid #e5e5e5;
  outline: none;
  opacity: 30%;
}

.sorting-container {
  display: flex;
  align-items: center;  
  padding: 44px 64px 42px 71px;
}

.results {
  width: 338px;
  margin: 0 192px 0 0;

  font-size: 30px;
  font-weight: 700;
  line-height: 39px;  
  text-transform: uppercase;
}

.sorting-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 168px;
  padding-left: 0;
  margin: 0 0 0 auto;

  list-style: none;  
}

.display-item {
  display: block;
  width: 48px;
  height: 48px;  
  margin-right: 8px;
  box-sizing: border-box; 
  
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;  
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.display-item:hover {
  border: 2px solid #83b3d3;
}

.display-item:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.display-item:active {
  border: 2px solid #000000;
}

.display-item-cards {
  background-image: url("../img/catalog/view-cards.svg");  
}

.display-item-slideshow {
  background-image: url("../img/catalog/view-slideshow.svg");  
}

.display-item-list {
  background-image: url("../img/catalog/view-list.svg");
  border: 2px solid #000000;  
}

.hotels-list {
  display: flex;
  flex-direction: column;   
  margin: 0 0 1px 0;
  padding: 0 72px 30px 72px; 

  list-style-type: none;
}

.hotels-list-item {
  display: grid;
  grid-template-columns: 180px auto max-content;
  grid-template-rows: min-content;  
  padding-top: 28px;
  padding-bottom: 25.5px;
  column-gap: 37px;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-list-item:first-child {
  border-top: 1px solid #e5e5e5;
}

.item-image {
  grid-column: 1 / 2;
  padding-top: 2px;
}

.item-image:hover img {
  opacity: 60%;
}

.item-image:focus {
  outline: none;
}

.item-image:focus img {
  outline: 3px solid #83b3d3;  
}

.item-image:active img {
  opacity: 30%;
  outline: none;
}

.item-description {  
  grid-column: 2 / 3;  

  margin-top: -2px;
}

.hotel-title {
  display: flex;
  
  font-size: 24px;
  font-weight: 700;
  line-height: 31px; 
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
}

.hotel-title:hover {
  color: #756257; 
}

.hotel-title:focus {
  color: #756257;  

  outline: none;
}

.hotel-title h4 {
  position: relative;
  
  margin: 0;

  text-transform: none;
}

.hotel-title:focus h4::before {
  position: absolute;
  top: -10px;
  left: -15px;
  content: "";

  width: calc(100% + 12px + 12px);
  height: calc(100% + 7px + 7px);

  border: 3px solid #83b3d3;
  border-radius: 8px;  
}

.hotel-title:active {
  color: #7562574d;  
}

.hotel-title:active h4::before {
  display: none;
}

.hotel-variant {
  display: grid;
  grid-template-columns: 151px 160px;
  column-gap: 6px;  
  margin: 3px 0 31px 0;
}

.hotel-buttons {
  display: grid;
  grid-template-columns: 151px 160px;
  column-gap: 7px;
  margin: 0;
}

.product-card-button {
  display: block;
  grid-column: 1 / 2;
  min-width: 151px;
  min-height: 37px;
  padding: 9px 32px 8px 31px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 21px;  
  color: #ffffff;

  background-color: #756257;  
  border-radius: 4px;  
}

.product-card-button:hover {
  background-color: #615048;
}

.product-card-button:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.product-card-button:active {
  color: #ffffff4d;

  background-color: #615048;
  outline: none;
}

.item-description p:nth-child(4) {
  margin-bottom: 0;
}

.item-description p:nth-child(5) {
  margin-bottom: 0;
}

.favorite-button {
  display: block;
  grid-column: 2 / 3;
  min-width: 160px;
  min-height: 37px;
  padding: 9px 29px 8px 31px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 21px;  
  color: #ffffff;

  background-color: #83b3d3;    
  border-radius: 4px;    
}

.favorite-button:hover {
  background-color: #68a2ca;
  outline: 1px solid #756257;
  outline-offset: -1px;
}

.favorite-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.favorite-button:active {
  color: #ffffff4d;

  background-color: #68a2ca;  
  outline: 1px solid #756257;
  outline-offset: -1px;
}

.favorite-button-green {
  display: block;
  grid-column: 2 / 3;
  min-width: 160px;
  min-height: 37px;
  padding: 9px 27px 8px 29px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 21px;  
  color: #ffffff;

  background-color: #7db54f; 
  border-radius: 4px;  
}

.favorite-button-green:hover {
  background-color: #6c9e42;
}

.favorite-button-green:focus {
  background-color: #6c9e42;
  outline: 3px solid #756257;
}

.favorite-button-green:active {
  color: #ffffff4d;

  background-color: #6c9e42;  
  outline: none;
}

.item-rating {
  display: grid;
  grid-template-columns: max-content;
  grid-column: 3 / 4;
  margin-left: auto;
}

.item-rating img {
  padding-top: 5px;  
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
}

.item-rating p {
  width: 160px;
  margin-bottom: 0;
}

.hotels-list span {
  font-size: 18px;
  line-height: 23px;  
}

.hotels-list .rating {
  display: block;
  min-width: 160px;
  min-height: 37px;
  padding: 8px 32px 8px 33px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;

  background-color: #f2f2f2;  
}

.pagination-container {
  display: flex;    
  align-items: baseline;  
  padding: 0 71px 0 73px;  
}

.pagination {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 33px;
  margin-right: auto;

  list-style-type: none;  
}

.pagination-show-more {
  width: 625px;
  height: 55px;  
  margin: 0 287px 27px 288px;
  border-radius: 4px;
}

.pagination-show-more:hover {
  background-color: #68a2ca;
}

.pagination-show-more:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.pagination-show-more:active {
  color: #ffffff4d;

  background-color: #68a2ca;  
  outline: none;
}

.pagination-show-more, .subscribe-button, .pagination-link  {
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;

  background-color: #83b3d3;
  border: none;
  cursor: pointer;
}

.pagination-item {
  margin-bottom: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 7.5px;
}

.pagination-item:last-child a {
  padding: 15px 16px 14px 16px;
}

.pagination-link {
  display: block;
  min-width: 55px;
  min-height: 55px;
  padding: 16px 16px 13px 21px;
  box-sizing: border-box;
  
  border-radius: 4px;
}

.pagination-current {
  font-size: 20px;
  line-height: 26px;
  color: #000000;

  background-color: #f2f2f2;
  cursor: auto;
}

.pagination-link:not(.pagination-current):hover {
  background-color: #68a2ca;
}

.pagination-link:not(.pagination-current):focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.pagination-link:not(.pagination-current):active {
  color: #ffffff4d;

  background-color: #68a2ca;  
  outline: none;
}

.select-view {    
  margin-left: 46px;
  width: 160px;  
  padding: 11px 48px 11px 14px;
  appearance: none;

  font: inherit;
  font-size: 18px;
  line-height: 23px;  
  
  background-image: url("../img/catalog/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;  
  cursor: pointer;
}

.select-view:hover {
  border: 2px solid #83b3d3;
}

.select-view:focus {
  border: 2px solid #83b3d3;
  outline: none;
}

.select-view:active {
  border: 2px solid #e5e5e5;
  outline: none;
  opacity: 30%;
}

.select-view-label {
  display: inline-block;
  width: 175px;

  font-size: 18px;
  line-height: 23px;
}

.subscription {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1200px;
  min-height: 411px;
  padding-top: 92px;
  padding-right: 240px;
  padding-left: 240px;
  box-sizing: border-box;

  color: #ffffff;
  text-align: center;   

  background-color: #000000;
  background-image: url("../img/subscribe-background.jpg");    
  background-repeat: no-repeat;  
}

.subscription-heading {
  margin-top: 0;
  margin-bottom: 9px;  

  font-size: 30px;  
  line-height: 36px;
  text-transform: uppercase;    
}

.inner-subscription {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 1200px;
  min-height: 411px;  
  margin-bottom: 15px;
  padding-top: 62px;
  padding-right: 240px;
  padding-left: 240px;
  box-sizing: border-box;  

  color:#000000;
  text-align: center;   

  background-color: #ffffff;     
}

.inner-subscription .subscription-heading {
  margin-bottom: 8px;
}

.subscription-form {
  display: flex;  
  margin-top: 26px;
  margin-bottom: 4px;
  align-self: center;
}

.subscription-form input {  
  min-width: 600px;
  min-height: 60px;
  padding-left: 22px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 18px;
  line-height: 26px;

  background-color: #f2f2f2;
  border: #ffffff;
  border-radius: 10px 0 0 10px;  
}

.subscription-form input:hover {
  background-color: #e5e5e5;
}

.subscription-form input:focus {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.subscription-form input:active  {
  background-color: #ffffff;
  border: 2px solid #000000;
  outline: none;  
}

input.error {  
  background-color: #ffffff;
  border: 2px solid #ff5757;
  outline: none;
}

input[type="email"]:not(:placeholder-shown):invalid {  
  background-color: #ffffff;
  border: 2px solid #ff5757;
  outline: none;
}

.subscribe-button {
  min-width: 200px;
  min-height: 60px;

  border-radius: 0 10px 10px 0;
}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.subscribe-button:active {
  color: #ffffff4d;

  background-color: #68a2ca;  
  outline: none;
}

.page-footer-container {
  display: flex;  
  align-items: center;
  min-height: 119px;  
}

.footer-social {
  width: 210px;
  margin-right: auto;
  padding-left: 64px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap; 
  min-width: 132px;
  padding: 0;

  list-style-type: none;   
}

.footer-social-item {  
  margin-bottom: 5px; 
  padding-right: 10px;   
}

.footer-social-link { 
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 34px;
  min-height: 34px;

  cursor: pointer;
}

.footer-social-link:hover path {
  fill: #68a2ca;
}

.footer-social-link:focus {
  border-radius: 4px;
  outline: 3px solid #83b3d3;
}

.footer-social-link:active path {
  fill: #83b3d333;  
}

.footer-social-link:active {
  outline: none;
}

.footer-contacts-phone {  
  display: block;
  margin-right: 70px;
  padding: 9px 14px 13px 11px;
  
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;  
}

.footer-contacts-phone:hover {
  color: #756257
}

.footer-contacts-phone:focus {
  color: #756257;

  border-radius: 8px;
  outline: 3px solid #83b3d3;
}

.footer-contacts-phone:active {
  color: #7562574d;  

  outline: none;
}

.footer-developer {
  min-width: 115px;
  margin-left: auto;
  padding-right: 57px;  
}

.htmlacademy-link {
  display: block;
  min-width: 115px;
  min-height: 33px;
  padding: 13px 14px 8px 14px;
}

.htmlacademy-link:hover path{
  fill: #756257
}

.htmlacademy-link:focus{
  border-radius: 8px;
  outline: 3px solid #83b3d3;
}

.htmlacademy-link:focus path{
  fill: #756257
}

.htmlacademy-link:active {
  outline: none;
}

.htmlacademy-link:active path{
  fill: #7562574d 
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: #f2f2f2cc;  
}

.modal-container-close {
  display: none;
}

.modal-all-hotels {
  position: relative;

  min-width: 715px;
  margin: auto;     
  padding: 51px 70px 70px 68px;
  box-sizing: border-box; 

  border-radius: 30px;
  background-color: #ffffff;   
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.modal-close-button {
  position:  relative;

  width: 53px;
  height: 53px;  
  padding: 0;

  border: none;
  border-radius: 50% 50%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e5e5e5;
}

.modal-close-button:focus {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e5e5e5;
  outline: none;
}

.modal-close-button:active::before {
  opacity: 30%;
}

.modal-close-button:active::after {
  opacity: 30%;
}

.modal-close-button::before {
  position: absolute;
  top: 26px;
  left: 18px;
  transform: rotate(45deg);
  content: "";

  width: 17px;
  height: 2px;

  background-color: #000000;  
}

.modal-close-button::after {
  position: absolute;
  top: 26px;
  left: 18px; 
  transform: rotate(-45deg); 
  content: "";

  width: 17px;
  height: 2px;

  background-color: #000000;  
}

.modal-heading {
  width: 499px;
  margin-top: 8px;
  margin-bottom: 0;

  font: inherit;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase; 
}

.arrival-grid {
  display: grid;
  grid-template-columns: 155px 420px;  
  margin-bottom: 12px;
}

.booking {
  padding-left: 2px;
  padding-top: 2px;
}

.booking label {
  font: inherit;
  font-size: 18px;
  font-weight: 700;  
  line-height: 40px;
}

.arrival-label {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: auto;
}

.arrival-grid .calendar-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.arrival-message {
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;

  font-size: 16px;
  line-height: 29px;
  color: #ff5757;  
}

.departure-grid {
  display: grid;
  grid-template-columns: 155px 420px;  
  margin-bottom: 12px;
}

.departure-label {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: auto;
}

.departure-grid .calendar-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.departure-message {
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;

  font-size: 16px;
  line-height: 29px;   
}

.arrival-label,
.departure-label,
.adults-label {
  display: inline-block;
  width: 155px;
}

.booking input {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;

  background-color: #f2f2f2;  
  border: none;
}

.booking-input {
  width: 420px;
  height: 50px;
  margin-bottom: 0;  
  padding-left: 19px;
  box-sizing: border-box;
  
  background-color: #f2f2f2;
  border-radius: 4px;    
}

.booking-input:hover {
  background-color: #e5e5e5;
}

.booking-input:focus {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.booking-input:active {
  background-color: #ffffff;
  outline: 3px solid #000000;
  outline-offset: -3px;  
}

.calendar-wrapper {
  position: relative;

  display: inline-block;  
}

.calendar-button {  
  position: absolute;
  top: 8px;
  right: 9px;
  
  width: 15px;
  height: 15px;  
  padding: 18px;
  
  background-image: url("../img/calendar-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.calendar-button:focus {
  outline: 3px solid #83b3d3;
  border-radius: 2px;
  outline-offset: 5px;
}

.calendar-button:active {
  outline: none;
  opacity: 20%;  
}

.tourists-count {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.children-label {
  width: 44px;
  margin-left: 56px;
}

.children-info {
  position: relative;

  display: inline-block;
  width: 25px;
  height: 25px;  
  margin-left: 10px;
  margin-right: 17px;

  font: inherit;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  
  background-color: #83b3d3;
  border-radius: 50% 50%;   
  cursor: default;
}

.children-info:hover {
  background-color: #68a2ca;
}

.children-message {
  position: absolute;  
  bottom: -160px;
  right: -116px; 

  display: none;
  min-width: 256px;  
  padding: 20px 18px 25px 22px;
  box-sizing: border-box;
  
  font: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;  

  background-color: #333333;
  border-radius: 10px;  
}

.children-message::before {
  position: absolute;
  top: -7px;
  right: 121px;
  transform: rotate(45deg);
  content: "";

  width: 13.5px;
  height: 13.5px;

  background-color: #333333;  
}

.children-info:hover .children-message {    
  position: absolute;

  display: inline-block;   
}

.less-button, .more-button {
  position: relative;

  width: 50px;
  height: 50px;
  padding: 0;
  
  background-color: #f2f2f2;
  border: none;  
  cursor: pointer;
}

.less-button {
  border-radius: 4px 0 0 4px;
}

.more-button {
  border-radius: 0 4px 4px 0;
}

.less-button::before {  
  position: absolute;
  top: 24px;
  left: 19px;
  content: "";

  width: 13px;
  height: 1px; 

  background-color: #0000004d;
}

.less-button:hover::before { 
  background-color: #000000;
}

.less-button:focus,
.more-button:focus {
  outline: none;
}

.less-button:focus::before,
.more-button:focus::before,
.more-button:focus::after {
  background-color: #000000;
}

.less-button:focus span,
.more-button:focus span {
  position: absolute;
  top: 15px;
  left: 16px;

  width: 19px;
  height: 19px;

  outline: 3px solid #83b3d3;
  border-radius: 4px;  
}

.less-button:active span,
.more-button:active span {  
  outline: none;
}

.less-button:active::before { 
  background-color: #00000033;
}

.more-button::before {
  position: absolute;
  top: 24px;
  left: 19px;
  transform: rotate(90deg);
  content: "";
  
  width: 13px;
  height: 1px;  

  background-color: #0000004d;  
}

.more-button::after {
  position: absolute;
  top: 24px;
  left: 19px;
  content: "";  

  width: 13px;
  height: 1px;  

  background-color: #0000004d;
}

.more-button:hover::before, 
.more-button:hover::after { 
  background-color: #000000;
}

.more-button:active::before, 
.more-button:active::after { 
  background-color: #00000033;
}

.children-input, .adults-input {
  width: 33px;
  height: 50px; 
  padding: 0;
   
  font-size: 18px;
  font-weight: 700;
  text-align: center;  
}

.modal-submit-button {
  width: 575px;
  min-height: 60px;

  font: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  color: white;
  text-transform: uppercase;  
  
  background-color: #83b3d3;  
  border: none;
  border-radius: 10px;  
  cursor: pointer;
}

.modal-submit-button:hover {
  background-color: #68a2ca;  
}

.modal-submit-button:focus {
  background-color: #68a2ca;  
  outline: 3px solid #756257;
}

.modal-submit-button:active {
  color: #ffffff4d;

  background-color: #68a2ca; 
  outline: none; 
}